<!doctype html>
<html>
	<head>
		<title>Cognipsum</title>
		<meta name="viewport" content="width=device-width">
		<meta name="Description" content="Stuck with your research work? NO worries! Here you have your personal AI assistant always ready to fill up few lines of your writing."> 
		<meta name="Keywords" content="cogniipsum, cognitive, lorem ipsum, cogni ipsum, generator, generator lorem ipsum, generator cogni ipsum, cognitive science">
		<meta property="og:title" content="Cogni ipsum">
		<meta property="og:description" content="Stuck with your research work? NO worries! Here you have your personal AI assistant always ready to fill up few lines of your writing.">
		<meta property="og:url" content="http://cogniipsum.com/">
		<meta property="og:image" content="//cogniipsum.pl/static/logo1.png">
		
		<link rel="icon" type="image/png" href="static/logo1.png" alt=logo1.png">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:900,600,400&amp;subset=latin-ext">
		<link rel="stylesheet" href="static/css/main.css">
    </head>
	<body>
		<div id="container">
			<div class="wrapper">
				<div id="logo">
					<a href="/">
						<picture>
							<img src="{{url_for('static', filename='logo1.png')}}" />
						</picture>
					</a>
				</div>
			</div>
			<div class="wrapper">
				<section id="hello">
					<h2>Welcome to Cogni Ipsum</h2>
					<p>
						Stuck with your research work? No worries!
						<br>
						The best way to fill blank spaces in your research paper!
						<br>
						Feel free to use large amounts of text.
						<br>
						It is AI generated and gets really creative sometimes.
						<br>
						Your cognitive lifestyle here and now!
					</p>
				</section>
				<section id="guzik">
					<a href="tekst.html">
						<button>Generate</button>
					</a>
				</section>
            </div>
			<div class="wrapper">
				<section id="stopka">

					Kogni Ipsum&copy;

				</section>
			</div>
		</div>
	</body>
</html>